anndata 
array-api-compat 
Bottleneck 
contourpy 
crc32c 
cycler 
donfig 
filelock 
fonttools 
gmpy2 
h5py 
harissa==3.1.2
Jinja2 
joblib 
kiwisolver 
legacy-api-wrap 
llvmlite 
MarkupSafe 
matplotlib==3.10.6
mpi4py 
mpmath 
msgpack 
natsort 
networkx 
numba 
numcodecs 
numexpr 
numpy 
packaging 
pandas 
pillow 
POT==0.9.6.post1
pynndescent 
pyparsing 
python-dateutil 
pytz 
PyYAML 
scikit-learn 
scipy 
setuptools==72.1.0
six 
sympy 
threadpoolctl 
torch==2.5.1
torchdiffeq 
tornado 
tqdm 
typing_extensions 
tzdata 
umap-learn 
wheel==0.45.1
zarr 